
django
djangorestframework
channels
channels-redis
gunicorn
pillow
daphne
whitenoise
psycopg2-binary
dj-database-url
uvicorn[standard]
django-environ
requests
cloudinary
django-cors-headers
websockets
wsproto

